{% extends 'base.html' %}


{% block content %}
<h1>{% block title %} Editar dúvida {% endblock %}</h1>
<br>
<p align="center">Edite ou apague suas dúvidas:</p>
<br>

<form method="post">

    <div class="form-group">
        <label for="title">Assunto:</label>
        <input type="text" name="title" placeholder="Digite o assunto" class="form-control"
               value="{{ request.form['title'] or questions['title'] }}">
    </div>

    <div class="form-group">
        <label for="content">Dúvida:</label>
        <textarea name="content" placeholder="Digite sua dúvida" class="form-control">
            {{ request.form['content'] or questions['content'] }}</textarea>
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
<br>
<form action="{{ url_for('delete', id=questions['id']) }}" method="POST">
    <div class="form-group">
        <input type="submit" value="Apagar" class="btn btn-danger btn-sm"
        onclick="return confirm('Tem certeza que deseja apagar essa dúvida?')">
    </div>
</form>

{% endblock %}
