{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Teacher's Helper {% endblock %}</title>
    <body>
        <div>

            <img src="../static/img/home.png" alt="home" width="350" height="450" align="left">
            <br>
            <h2 align="center"><b>Bem vindo(a), professor(a)!</b></h2>
            <br>
            <br>
            <p align="center">Este portal reúne orientações sobre a utilização de várias ferramentas
                online</p>
            <p align="center">que podem te auxiliar no ensino remoto.</p>
            <br>
            <p align="center">Clicando no menu de conteúdos você encontra os guias disponíveis do site.</p>
            <br>

            <p align="center">Não encontrou o que precisava?</p>
            <br>
            <p align="center"><b>Registre sua dúvida! </b></p>

        </div>
    </body>

{% endblock %}