{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Criar grupos no Whatsapp {% endblock %}</title>

<br>
<h1>Criando grupos no Whatsapp</h1>
<br>

    <style type="text/css">
	    img{border-radius: 20px;}
	</style>

    <div class="row">
        <br>
        <img src="../static/img/whats.png" alt="whats" width="370" height="190" align="center">
    </div>

    <body>
        <br>
        <br>
        <p>Sabemos que a ferramenta do Whatsapp é uma das mais utilizadas ao redor do mundo.</p>
        <p>Hoje, o aplicativo nos dá várias opções de atividades e uma delas é criar grupos. </p>
        <p>Os grupos são interessantes quando precisamos passar uma mesma informação a várias pessoas,
        e isso acontece muito com os professores, que precisam se comunicar com um determinado grupo de alunos.</p>
        <br>
        <p>Abaixo, confira um tutorial de como criar grupos no Whatsapp: </p>
        <br>
        <p><b>1 - </b> Entre no aplicativo e selecione a opção no menu superior identificada com 3(três) pontos</p>
        <p><b>2 - </b> Selecione 'Novo grupo'</p>
        <p><b>3 - </b> Selecione todos os contatos que deseja adicionar ao grupo</p>
        <p><b>4 - </b> Após selecionado todos, clique na opção de seta verde no canto inferior</p>
        <p><b>5 - </b> Configure o nome do grupo, a imagem, e clique na opção de 'check' na cor verde </p>
        <p><b>6 - </b> Agora, o grupo já está criado! Compartilhe seus avisos e informações!</p>

    </body>

    </div>

{% endblock %}