{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Postar vídeos no Youtube {% endblock %}</title>

<br>
<h1>Postando vídeos na plataforma YouTube</h1>
<br>

    <style type="text/css">
	    img{border-radius: 20px;}
	</style>

    <div class="row">
        <br>
        <img src="../static/img/youtube.png" alt="youtube" width="370" height="190" align="center">
    </div>

    <body>
        <br>
        <br>
        <p>A plataforma do <a href="https://www.youtube.com/"><b>YouTube</b></a> pode ser uma ótima opção quando precisamos transmitir e ensinar conteúdos.</p>
        <p>Inclusive, essa opção é amplamente utilizada para este fim, lá encontramos aulas sobre diversos assuntos!</p>
        <br>
        <p>Abaixo, confira um tutorial de como postar vídeos: </p>
        <br>
        <p><b>1 - </b> Entre no <a href="https://www.youtube.com/"><b>site</b></a> e faça login com um e-mail válido</p>
        <p><b>2 - </b> Clique no ícone de câmera, logo após clique na opção 'Enviar Vídeo'</p>
        <p><b>3 - </b> Será exibida uma tela com algumas opções, clique em 'Criar Canal'</p>
        <p><b>4 - </b> Na tela seguinte, clique em 'Selecionar arquivos' e escolha o arquivo desejado para o upload</p>
        <p><b>5 - </b> Configure os detalhes e configurações do vídeo </p>
        <p><b>6 - </b> Após configurar, clique em 'Publicar'</p>
        <p> PRONTO, seu vídeo já está disponível!</p>
    </body>

    </div>

{% endblock %}