{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Reuniões com o Zoom {% endblock %}</title>

<br>
<h1>Criando e compartilhando reuniões com o Zoom</h1>
<br>

    <style type="text/css">
	    img{border-radius: 20px;}
	</style>

    <div class="row">
        <br>
        <img src="../static/img/youtube.png" alt="youtube" width="370" height="190" align="center">
    </div>

    <body>
        <br>
        <br>
        <p>O <a href="https://zoom.us/"><b>Zoom </b></a> é mais uma ferramenta que pode ser utilizada para
          realizar reuniões.</p>

        <br>
        <p>Para criar reuniões no Zoom : </p>
        <br>
        <p><b>1 - </b> Entre no <a href="https://zoom.us/"><b>site</b></a> e clique no menu 'Realizar uma reunião'</p>
        <p><b>2 - </b> Escolha uma das opções que aparecem no menu</p>
        <p><b>3 - </b> Faça o login ou entre com sua conta de e-mail ou rede social</p>
        <p><b>4 - </b> Após o login, clique novamente em 'Realizar uma reunião' e escolha uma das opções do menu</p>
        <p><b>5 - </b> Será exibida uma tela, clique na opção 'Abrir zoom meetings' </p>
        <p><b>6 - </b> Agora sua reunião já está iniciada, faltam os convidados</p>
        <p><b>7 - </b> Clique no menu 'Participants' localizado na parte inferior da tela </p>
        <p><b>8 - </b> Clique em 'Invite'</p>
        <p><b>9 - </b> Uma nova tela será exibida com as opções de envio aos convidados</p>
        <p><b>10 - </b> Uma das formas mais práticas de compartilhar o convite é a cópia do link </p>
        <p><b>11 - </b> Para isso, clique em 'Copy Invite Link'</p>
        <p>Feito! O link está copiado, compartilhe com seus convidados!</p>

    </body>

    </div>

{% endblock %}